/* home page */

/* logo home */
.logo {
    height: 50px;
    width: 200px; 
}

/* first home component */

/* image carasoul css */
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  
  height: auto;
  border-radius: 10px;
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 5s;
  transform: scale(1.0);
}
/* image carasoul css end */


/* mobile view image */
.mobile_img{
  background-image: url("../public//images/banner-1 copy.jpg");
  height: 50vh;
}


/* contact page */

