/* home page */

/* logo home */
.logo {
    height: 50px;
    width: 200px; 
}

/*home page 1st bg */
.home_1st_component {
    min-height: 50vh;
    background-image: url("./Images/banner-1.jpg");
    background-size: cover;
  }



  /* contact page */

